.form-container {
    max-width: 350px;
}

.register-text{
    color: black;
}

.right-column {
    background: url('../../assets/logo.png') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.right-column h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 20px;
    color: #c48383;
}

.right-column img {
    max-width: 80%;
    height: auto;
}

.right-column .btn-outline-light {
    position: absolute; 
    bottom: 100px;
    left: 45%;
    color: #50412a;
    font-size: 20px;
    background-color: #cae3aeaf;
    width: 100px;
}

.right-column .btn-outline-light:hover {
    background-color: #677c3caf;
    color: floralwhite;
}

@media (max-width: 768px) {
    .right-column {
        display: none;
    }
    .form-container {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .right-column {
        display: none;
    }

    .w-45 {
        width: 100%;
    }

    .form-container {
        max-width: 100%;
    }
}

.container-wrapper {
    max-width: 1200px;
    margin: 50px auto;
    padding: 6rem;
    background-color: #c8d2dd;
    border-radius: 10px;
}

.d-flex.vh-100 {
    height: auto;
    min-height: 80vh;
    align-items: center;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.dynamic-word {
    color: #dba754;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dynamic-word.show {
    opacity: 1;
}

.dynamic-word.hide {
    opacity: 0;
}