.form-container {
    max-width: 350px;
}

.right-column {
    background: url('../../assets/logo.png') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.right-column h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: absolute; /* Absolute positioning for the text */
    top: 60px; /* Aligns the text to the top of the container */
    left: 20px; /* Optional: aligns the text to the left */
    color: #c48383;
}

.right-column img {
    max-width: 80%;
    height: auto;
}

.right-column .btn-outline-light {
    position: absolute; /* Absolute positioning for precise control */
    bottom: 100px; /* Distance from the top of the container */
    left: 45%; /* Center horizontally (optional) */
    color: #50412a;
    font-size: 20px;
    background-color: #cae3aeaf;
    width: 100px;
}

.right-column .btn-outline-light:hover {
    background-color: #677c3caf;
    color: floralwhite;
}

@media (max-width: 768px) {
    .right-column {
        display: none;
    }
    .form-container {
        max-width: 100%;
    }
}

/* Media query for screen widths less than 900px */
@media (max-width: 600px) {
    .right-column {
        display: none; /* Hide the right column on smaller screens */
    }

    .w-45 {
        width: 100%; /* Ensure left side takes full width */
    }

    .form-container {
        max-width: 100%; /* Ensure the form container takes full width */
    }
}

/* Adjust container and column widths */
.container-wrapper {
    max-width: 1200px; /* Adjust the width as needed */
    margin: 50px auto; /* Center the container horizontally */
    padding: 6rem; /* Add padding around the content */
    background-color: #c8d2dd; /* Optional: Add a background color */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.d-flex.vh-100 {
    height: auto; /* Remove the full viewport height */
    min-height: 80vh; /* Set a minimum height */
    align-items: center; /* Center the content vertically */
}

/* Adjust widths for left and right columns */
.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.dynamic-word {
    color: #dba754; /* Change this to your desired color */
    font-weight: bold;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease-in-out; /* Transition effect for smooth fade */
}

.dynamic-word.show {
    opacity: 1; /* Fade in */
}

.dynamic-word.hide {
    opacity: 0; /* Fade out */
}