.container-wrapper {
    max-width: 1130px;
    margin: 80px auto;
    padding: 6rem ;
    background-color: #c8d2dd;
    border-radius: 10px;
}

.sign-in-text {
    color: black;
}  

.d-flex {
    display: flex;
    flex-wrap: nowrap;
}

.w-45 {
    width: 45%;
}

.bg-white {
    background-color: #fff;
}

.form-container {
    max-width: 350px;
}

.right-column {
    background: url('../../assets/logo.png') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    text-align: center;
    position: relative;
    width: 55%;

}

.right-column h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 40px;
    color: #c48383;
}

.right-column .btn-outline-light {
    position: absolute;
    bottom: 100px;
    left: 40%;
    color: #50412a;
    font-size: 20px;
    background-color: #cae3aeaf;
    width: 100px;
}

.right-column .btn-outline-light:hover {
    background-color: #677c3caf;
    color: floralwhite;
}

@media (max-width: 699px) {
    .right-column {
        display: none;
    }

    .w-45 {
        width: 100%;
    }

    .form-container {
        max-width: 100%;
    }
}

.dynamic-word {
    color: #dba754;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dynamic-word.show {
    opacity: 1;
}

.dynamic-word.hide {
    opacity: 0;
}
